
<form name="herca_questionnaire">

    <div class="panel-group" id="accordionQ1" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionQ1" href="#collapseQ1" aria-expanded="true" aria-controls="collapseQ1">
                        {RES:ResultQ1}
                    </a>
                </h4>
            </div>
            <div id="collapseQ1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <a class="herca-link"  id="L_1.1" name="L_1.1" href="#" data-dismiss="modal" data-link="1.1">
                        {RES:Result11}</a> <br/><BR/>
                    <a class="herca-link" id="L_1.2" name="L_1.2" href="#" data-dismiss="modal" data-link="1.2">
                        {RES:Result12}</a> <br/><BR/>
                </div>
            </div>
        </div>
    </div>


    <div class="panel-group" id="accordionQ2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingQ2">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseQ2" aria-expanded="true" aria-controls="collapseQ2">
                        {RES:ResultQ2}
                    </a>
                </h4>
            </div>
            <div id="collapseQ2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingQ2">
                <div class="panel-body">
                    <a class="herca-link" id="L_2.1" name="L_2.1" href="#" data-dismiss="modal" data-link="2.1">
                        {RES:Result21}</a> <br/><BR/>
                    <a class="herca-link" id="L_2.2" name="L_2.2" href="#" data-dismiss="modal" data-link="2.2">
                        {RES:Result22}</a> <br/><BR/>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordionQ3" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingQ3">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseQ3" aria-expanded="true" aria-controls="collapseQ3">
                        {RES:ResultQ3}
                    </a>
                </h4>
            </div>
            <div id="collapseQ3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingQ3">
                <div class="panel-body">
                    <a class="herca-link" id="L_3.1" name="L_3.1" href="#" data-dismiss="modal" data-link="3.1">
                        {RES:Result31}</a> <br/><BR/>
                    <a class="herca-link" id="L_3.2" name="L_3.2" href="#" data-dismiss="modal" data-link="3.2">
                        {RES:Result32}</a> <br/><BR/>
                    <a class="herca-link" id="L_3.3" name="L_3.3" href="#" data-dismiss="modal" data-link="3.3">
                        {RES:Result33}</a> <br/><BR/>
                    <a class="herca-link" id="L_3.4" name="L_3.4" href="#" data-dismiss="modal" data-link="3.4">
                        {RES:Result34}</a> <br/><Br/>
                    <a class="herca-link" id="L_3.5" name="L_3.5" href="#" data-dismiss="modal" data-link="3.5">
                        {RES:Result35}</a> <br/><BR/>
                    <a class="herca-link" id="L_3.6" name="L_3.6" href="#" data-dismiss="modal" data-link="3.6">
                        {RES:Result36}</a> <br/><Br/>
                    <a class="herca-link" id="L_3.7" name="L_3.7" href="#" data-dismiss="modal" data-link="3.7">
                        {RES:Result37}</a> <br/><Br/>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordionQ4" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingQ4">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseQ4" aria-expanded="true" aria-controls="collapseQ4">
                        {RES:ResultQ4}
                    </a>
                </h4>
            </div>
            <div id="collapseQ4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingQ4">
                <div class="panel-body">
                    <a class="herca-link" id="L_4.1" name="L_4.1" href="#" data-dismiss="modal" data-link="4.1">
                        {RES:Result41}</a> <br/><BR/>
                    <a class="herca-link" id="L_4.2" name="L_4.2" href="#" data-dismiss="modal" data-link="4.2">
                        {RES:Result42}</a> <br/><BR/>
                    <a class="herca-link" id="L_4.3" name="L_4.3" href="#" data-dismiss="modal" data-link="4.3">
                        {RES:Result43}</a> <br/><BR/>
                    <a class="herca-link" id="L_4.4" name="L_4.4" href="#" data-dismiss="modal" data-link="4.4">
                        {RES:Result44}</a> <br/><Br/>
                    <a class="herca-link" id="L_4.5" name="L_4.5" href="#" data-dismiss="modal" data-link="4.5">
                        {RES:Result45}</a> <br/><BR/>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordionQ5" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingQ5">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseQ5" aria-expanded="true" aria-controls="collapseQ5">
                        {RES:ResultQ5}
                    </a>
                </h4>
            </div>
            <div id="collapseQ5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingQ5">
                <div class="panel-body">
                    <a class="herca-link" id="L_5.1" name="L_5.1" href="#" data-dismiss="modal" data-link="5.1">
                        {RES:Result51}</a> <br/><BR/>
                    <a class="herca-link" id="L_5.2" name="L_5.2" href="#" data-dismiss="modal" data-link="5.2">
                        {RES:Result52}</a> <br/><BR/>
                </div>
            </div>

        </div>
    </div>
    <div class="panel-group" id="accordionQ6" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingQ6">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseQ6" aria-expanded="true" aria-controls="collapseQ6">
                        {RES:ResultQ6}
                    </a>
                </h4>
            </div>
            <div id="collapseQ6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingQ4">
                <div class="panel-body">
                    <a class="herca-link" id="L_6.1" name="L_6.1" href="#" data-dismiss="modal" data-link="6.1">
                        {RES:Result61}</a> <br/><BR/>
                    <a class="herca-link" id="L_6.2" name="L_6.2" href="#" data-dismiss="modal" data-link="6.2">
                        {RES:Result62}</a> <br/><BR/>
                    <a class="herca-link" id="L_6.3" name="L_6.3" href="#" data-dismiss="modal" data-link="6.3">
                        {RES:Result63}</a> <br/><BR/>
                    <a class="herca-link" id="L_6.4" name="L_6.4" href="#" data-dismiss="modal" data-link="6.4">
                        {RES:Result64}</a> <br/><Br/>
                </div>
            </div>
        </div>
    </div>
</form>